*.iml
.gradle
/local.properties
/.idea/
/.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/*.txt

fastlane/*
!fastlane/**/
!fastlane/**/*.txt
!fastlane/**/*.png

test/
export/
